.footer{
    width: 1200px;
    height: 396px;
    /*background-color: #aeaeff;*/
    margin: 0 auto;
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-left: 100px;
    box-sizing: border-box;
    position: relative;
}
.footer .box1{
    margin-top: 40px;
    margin-bottom: 30px;
}
.footer .box1 img{
    display: inline-block;
    width: 14px;
    height: 13px;

}
.footer .box2 dl{
    width: 200px;
    /*background-color: #ff91ff;*/
    float: left;
}
.footer .box2 dl dt{
    color:#000;
    font-size: 14px;
    line-height: 30px;
}
.footer .box2 dl dd{
    line-height: 20px;
}
.footer .box2 dl dd:hover a{
    color:red;
}
.footer .box3::before{
    height: 0;
    visibility: hidden;
    content: "";
    clear: both;
}
.footer .box3{
    width: 1100px;
    height: 100px;
    /*background-color: #1055ff;*/
    position: absolute;
    bottom:30px;
}
.footer .box3 ul li {
    float: left;
    font-size: 10px;
    height: 30px;
}
.footer .box3 ul li:hover a{
    color:black;
}
.footer .box3 ul li a{
    padding: 10px;
    line-height: 30px;
}

.footer .box3 .tubiao li{
    width: 30px;
    height: 30px;
    /*background-color: #ff365d;*/
    margin-right: 10px;
}
.footer .box3 .tubiao li:nth-child(1){
    margin-left: 50px;
    background: url(../images/nubia-syb-all.png) -246px 0 no-repeat;

}
.footer .box3 .tubiao li:nth-child(2){
    background: url(../images/nubia-syb-all.png) -186px 0 no-repeat;
}

.footer .box3 .tubiao li:nth-child(3){
    background: url(../images/nubia-syb-all.png) -126px 0 no-repeat;
}
.footer .box3 .tubiao li:nth-child(4){
    background: url(../images/nubia-syb-all.png) -156px 0 no-repeat;
}
.footer .box3 span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}
.footer .box3 p{
    font-size: 10px;
    line-height: 30px;
}
.footer .box3 p>img{
    height: 10px;
    width: 10px;
}

